.review {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid #ececee;

  &__avatar {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
  }

  &__detail {
    padding-left: 3rem;
  }

  &__name {
    color: #155e9b;
    font-weight: 600;
  }

  &__category > * {
    color: #6f727f;
    font-weight: 600;
  }
}
