.Card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // margin: -5rem 1rem 1rem;
  background-color: white;
  border-radius: 4px;
  padding-bottom: 2rem;
  margin: -3.5rem 1rem 1rem;
  height: 18rem;
  width: 35rem;
}
